<soho-header>

    <soho-toolbar-flex #appHeaderToolbar maxVisibleButtons="5" hasMoreButton="!currentToolbarOptions">
        <button soho-toolbar-flex-nav-button (click)="toggleModuleNav($event)">Show Navigation</button>

        <soho-toolbar-flex-section [isTitle]="true">
            <h2>
                <span soho-toolbar-flex-page-title>{{pageTitle}}</span>
            </h2>
        </soho-toolbar-flex-section>

        <soho-toolbar-flex-section [isButtonSet]="true">
            <ng-template [ngIf]="currentToolbarOptions">
                <ng-template ngFor let-button [ngForOf]="currentToolbarOptions.toolbarButtons">
                    <label style="display: inline-block;">{{button?.label}}</label>
                    <button *ngIf="!button.menu" [soho-button]="button.type" [isToggle]="button.istoggle"
                        [isTogglePressed]="button?.data" icon="{{button?.icon}}" id="{{button?.id}}"
                        attr.data-button="{{button?.data}}" class="{{button?.class}}" title="{{button?.title}}"
                        (click)="onButtonClicked(button)">{{button?.text}}</button>

                    <ng-template [ngIf]="button.menu">
                        <button soho-menu-button id="{{button?.id}}" menu="buttonPopupMenu" icon="{{button?.icon}}"
                            attr.data-button="{{button?.data}}">
                            {{button?.text}}</button>
                        <div class="popupmenu-wrapper bottom" role="application" aria-hidden="true">
                            <ul soho-popupmenu id="buttonPopupMenu">
                                <li soho-popupmenu-item *ngFor="let item of button.menu" id="{{item?.id}}">
                                    <a soho-popupmenu-label attr.data="{{item?.data}}">{{item?.text}}</a>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </ng-template>
            </ng-template>
        </soho-toolbar-flex-section>
    </soho-toolbar-flex>

</soho-header>